echo "# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini


# Database
*.bak
*.mdf
*.ldf" > .gitignore